.animated-card {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: animated-card-load 0.6s ease-out forwards;
  }
  
  @keyframes animated-card-load {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Appliqué uniquement pendant l'animation */
    }
  }
  
  /* Hover */
  .animated-card.loaded:hover {
    transform: translateY(-10px); /* Hover effect seulement quand loaded est vrai */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }

  