html, body {
  height: 100%;
  margin: 0;
}
.form-label {
  /* Par exemple, pour aligner à gauche */
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
}


.container-fluid {
  
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; 
}


.transition {
  transition: transform 0.2s ease;
}
.rotate-180 {
  transform: rotate(180deg);
}

.modal-header .btn-close {
  margin-left: auto;
  margin-right: -0.5rem;
}




