html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; 
}


.transition {
  transition: transform 0.2s ease;
}
.rotate-180 {
  transform: rotate(180deg);
}

